<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录/注册</title>
</head>
<link rel="stylesheet" href="../../public/css/login.css">
<body>
    <div id="loginMain">
        <h1>校园失物招领平台</h1>
        <div class="lgbox">
            <div class="lgform">
                <label>用户名：</label><br/>
                <input type="text" name="username"><br/>
                <label>密 码：</label><br/>
                <input type="password" name="password">
                <div class="loginline"><button id="loginMainbtn">登 录</button></div>
                <p class="lghelp"></p>
            </div>
            <div class="forgetline">
                <a href="#" class="rebtn">注册</a>|<a href="#">忘记密码？</a>
            </div>
            <div class="backline">
                <a href="/">←回到校园失物招领平台</a>
            </div>
        </div>
    </div>
    <div id="reMain">
        <h1>校园失物招领平台</h1>
        <div class="lgbox">
            <div class="rehere">在这个站点注册</div>
            <div class="lgform">
                <label>用户名：</label><br/>
                <input type="text" name="username"><br/>
                <label>密 码：</label><br/>
                <input type="password" style="margin-bottom:16px;" name="password">
                <label >确认密码：</label><br/>
                <input type="password" name="repassword">
                <div class="loginline"><button id="reMainbtn">注 册</button></div>
                <p class="lghelp">*用户名必须由5-16位以字母开头、可带数字、下划线的字符组成<br/>*密码由6-20位字母、数字、下划线组成</p>
            </div>
            <div class="forgetline">
                <a href="#" class="lgbtn">登录</a>|<a href="#">忘记密码？</a>
            </div>
            <div class="backline">
                <a href="/">←回到校园失物招领平台</a>
            </div>
        </div>
    </div>
    <script src="../../public/js/jquery-1.9.1.min.js"></script>
    <script src="../../public/js/login.js"></script>
</body>
</html>