{% extends 'layout.html'%}
{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin">后台管理</a></li>
    <li class="active">用户管理</li>
</ol>
<h4>用户列表</h4>
<table class="table table-striped table-hover">
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>密码</th>
        <th>是否是管理员</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user._id.toString()}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>
            {% if user.isAdmin%}
            是
            {%endif%}
        </td>
    </tr>
    {% endfor %}
</table>
{% include 'page.html'%}
{%endblock%}